<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SensorRecieve</servlet-name>
        <servlet-class>com.ihub.controller.ServletRecieve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cheatsqlinjection</servlet-name>
        <servlet-class>com.ihub.controller.Cheatsqlinjection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreventSqlInjection</servlet-name>
        <servlet-class>com.ihub.controller.PreventSqlInjection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IntelligenceServlet</servlet-name>
        <servlet-class>com.ihub.controller.IntelligenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFServlet</servlet-name>
        <servlet-class>test.PDFServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SensorRecieve</servlet-name>
        <url-pattern>/sensorSend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cheatsqlinjection</servlet-name>
        <url-pattern>/Cheatsqlinjection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreventSqlInjection</servlet-name>
        <url-pattern>/PreventSqlInjection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IntelligenceServlet</servlet-name>
        <url-pattern>/Intelligence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFServlet</servlet-name>
        <url-pattern>/PDFServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
