<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/defaultusernamepasswrdtable?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">veena123</property>
    <mapping resource="com/ihub/model/Defaultup.hbm.xml"/>
    <mapping resource="com/ihub/model/User.hbm.xml"/>
    <mapping resource="com/ihub/model/Encrypteddata.hbm.xml"/>
    <mapping resource="com/ihub/model/Updatedup1.hbm.xml"/>
    <mapping resource="com/ihub/model/Login.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
